.table-curved {
    border-collapse: collapse;
    margin-left: 10px;
  } 
/* .table-curved th {
    padding: 13px 10px;
  } */
  .table-curved td {
    position: relative;
    /* background-color: #e5e5e5; */
    padding: 16px 10px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
  }



  .table-curved td:first-child:before {
    border-radius: 8px 0 0 8px;
  } 
